@{
    ViewData["Title"] = "Home Page";
}

<div id="images">
    <h1>Thiss is 8.</h1>
    <img src="~/images/hero_fallback_large.png" alt="ASP.NET" class="img-responsive" />
    <h4>
        iPhone 8 dramatically improves the most important aspect of the iPhone
        experience. It introduces advanced new camera systems. The best performance and 
        battery life. 
        Ever in an Iphone. Immversive stereo speakers.
        The brightest,  most colorful iPhone display. 
        Splash and water resistance. And it looks every bit as powerful as it is. 
        This is iPhone8.
    </h4>
    <h5>iPhone 8 Camera</h5>
    <h1>An entirely new camera enters the picture</h1>
    <img src="~/images/camera_hero_large.jpg" alt="ASP.NET" class="img-responsive" />

    <h5>
        Retina HD Display
    </h5>
    <h1>
        The brightest, most colorful,iPhone display yet.
    </h1>
    <img src="~/images/display_hero_large.jpg" alt="ASP.NET" class="img-responsive" />
    <h1>Waitst: for it...</h1>
</div>  
